<div>
    <div id="botonera" class="btn-group-vertical float-start">
      <button class="btn btn-outline-primary"><i class="bi bi-power"></i></button>
      <button class="btn btn-outline-primary">Cargar baterías</button>
      <button class="btn btn-outline-primary">Rellenar jabón</button>
    </div>
  
    <div class="float-start">
      <img class="jabonera img-fluid" alt=""/>
      <div id="datos">
        <p class="h4 text-center">Nombre (cambiarlo por su valor)</p>
  
        <label for="bateria" class="form-label">
          <i class="bi bi-battery-full"></i> 
          <span>cantidad% (cambiarlo por su valor)</span>
        </label>
        <div class="progress" id="bateria">
          <div class="progress-bar bg-success" style="width: 100%;"></div>
        </div>
        <hr/>
        <label for="deposito" class="form-label">
          <i class="bi bi-moisture"></i> 
          <span>250 ml / 500 ml (esto habrá que cambiarlo por sus valores)</span>
        </label>
        <div class="progress" id="deposito">
          <div class="progress-bar bg-info" style="width: 50%;"></div>
        </div>
      </div>
    </div>
  
  </div>
